@import '~antd/dist/antd.css';

.logo {
  height: 10rem;
  width: 10rem;
  display: flex;
  background-image: url('../img/viator.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  /* background: rgba(255, 255, 255, 0.2); */
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}
  [data-theme="dark"] .site-layout-sub-header-background {
    background: #141414;
  }

.sider-class {
  position: 'fixed';
  overflow: 'auto';
  height: '100vh';
  left: 0;
  /*ddd*/
  /* flex: 0 0 200px;
  max-width: 80px;
  min-width: 100px;
  width: 100px; */
  min-height: 100vh;
}